@import '../../style/base.scss';

.search_result {
  position: absolute;
  left: 5px;
  top: 30px;
  background: #fff;
  border: 1px solid $blue7;
  border-top: none;
  width: 298px;
  height: 250px;

  li {
    height: 24px;
    line-height: 24px;
    padding: 0 5px;
    border-bottom: 1px solid $blue1;
    cursor: default;

    &:hover {
      background: $blue1;

      span {
        color: #333;
      }
    }

    &:last-child {
      border-bottom: none;
    }

    span {
      white-space: nowrap;

      &.code {
        display: inline-block;
        width: 40px;
        height: 16px;
        line-height: 16px;
        margin-top: 3px;
        margin-right: 4px;
        background: $blue6;
        color: #fff;
        border-radius: 4px;
        text-align: center;
      }

      &.name {
        color: #555;
      }

      &.add {
        float: right;
        width: 15px;
        height: 15px;
        line-height: 16px;
        margin-top: 3px;
        text-align: center;
        cursor: pointer;
        font-size: 16;
        font-weight: bold;
        border: 1px solid $blue6;
        color: $blue6;

        &:hover {
          color: $blue8;
          border: 1px solid $blue8;
        }
      }
    }
  }

  .no_result {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    span {
      color: #999;
    }
  }
}