.tool_bar {
  position: relative;
  margin: 10px 10px 0;
  height: 30px;
  z-index: 1;
}

.search {
  position: relative;
  float: left;
  width: 300px;
  height: 30px;

  .search_input {
    display: block;
    width: 278px;
    height: 100%;
    line-height: 100%;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #f7f7f7;

    &:focus {
      outline: none;
      border-color: orange;
      box-shadow: 0 0 3px orange;
    }
  }

  .search_cancle {
    position: absolute;
    right: 7px;
    top: 7px;
    width: 17px;
    height: 17px;
    line-height: 14px;
    text-align: center;
    background: #bbb;
    border-radius: 9px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;

    &:hover {
      background: #aaa;
    }
  }
}

.buttons {
  float: right;
}

.fund_link {
  color: #cc4400;
  text-decoration: none;

  &:hover {
    color: #993300;
  }
}

.list {
  position: relative;
  margin: 10px;
  overflow: hidden;
}

.list_line {
  display: flex;
  justify-content: space-between;
}

.list_header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;
  background: #ff9966;

  .list_line {
    height: 100%;

    &>div {
      color: #fff;
      font-weight: bold;
      font-size: 12px;

      p {
        color: #fff;
        line-height: 12px;

        &.gz_data {
          color: #eee;
          transform: scale(0.8);
          position: relative;
          top: 3px;
        }
      }
    }
  }
}

.list_body {
  margin-top: 40px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;

  .list_line {
    position: relative;
    height: 50px;

    &.even {
      background: #ffeee5;
    }

    &.odd {
      background: #ffddcc;
    }
  }

  .no_data {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  span.updated {
    width: 66px;
    height: 14px;
    line-height: 14px;
    background: red;
    border-bottom-left-radius: 5px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0px;
    opacity: 0.6;
  }

  span.un_updated {
    width: 66px;
    height: 14px;
    line-height: 14px;
    background: #333;
    border-bottom-left-radius: 5px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0px;
    opacity: 0.2;
  }
}

.list_footer {
  // todo
  height: 40px;
  background: #ff9966;

  .list_line {
    height: 100%;
    &>div{
      font-weight: bold;
      color: #fff;
    }
  }
}

.list_line>div {
  display: flex;
  min-width: 60px;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  padding-right: 6px;

  &:nth-child(1) {
    text-align: left;
    padding-left: 6px;
    width: 140px;
  }

  &.chart {
    width: 260px;
  }
}

.delete_button {
  cursor: pointer;
}

.edit_input {
  display: block;
  width: 60px;
  height: 24px;
  line-height: 30px;
  padding: 0 4px;
  border: 1px solid #ccc;
  background: #f7f7f7;

  &:focus {
    outline: none;
    border-color: orange;
    box-shadow: 0 0 3px orange;
  }
}