@import './base.scss';

@font-face {
  font-family: abc;
  src: url(./abc.ttf);
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 12px;
}

body {
  font-family: abc, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  background: #222;
  padding: 5px;
}

::-webkit-scrollbar {
  width: 4px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #eee;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: inherit;
  background-color: rgba(144, 147, 153, 0.6);
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  text-align: center;
}

:global {
  .container {
    overflow: hidden;
  }

  .red {
    color: #e62e00;
  }

  .green {
    color: #00bb00;
  }

  .grey {
    color: #999999;
  }

  .bold {
    font-weight: bold;
  }

  .tl {
    text-align: left;
  }

  .tr {
    text-align: right;
  }

  .fs12 {
    font-size: 12px;
  }

  .fs13 {
    font-size: 13px;
  }

  .fs14 {
    font-size: 14px;
  }

  .fs16 {
    font-size: 16px;
  }

  .fs18 {
    font-size: 18px;
  }

  .fs20 {
    font-size: 20px;
  }

  .mr2 {
    margin-right: 5px;
  }

  .mr3 {
    margin-right: 5px;
  }

  .mr4 {
    margin-right: 5px;
  }
  
  .mr5 {
    margin-right: 5px;
  }

  .button {
    display: inline-block;
    user-select: none;
    margin-left: 5px;
    min-width: 32px;
    height: 25px;
    padding: 0 5px;
    line-height: 26px;
    font-weight: bold;
    background: $blue7;
    text-align: center;
    color: #fff;
    cursor: pointer;

    &:hover {
      color: #fff;
      background: $blue6;
    }

    &:active {
      color: #fff;
      background: $blue8;
      position: relative;
    }
  }
}