@import '../../style/var.scss';

.switch {
  display: inline-block;
  user-select: none;
  height: 25px;
  cursor: pointer;

  span {
    position: relative;
    display: inline-block;
    min-width: 32px;
    height: 25px;
    line-height: 26px;
    padding: 0 5px;
    background: #ccc;
    color: #777;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;

    &.left {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &.right {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &.selected {
      color: #fff;
      background: $blue7;
    }
  }
}
